html{
    font-family: sans-serif;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url(ta3lemat2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
@media only screen and (min-width: 768px) {
    header{
    height: 100vh;
    width: 100%;
    background-image: url(instructions2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
    .p{
        font-size: 100px; 
    }
    .main-header1 button{
    padding: 1rem 3rem;
    font-size: 5rem;
    background: #B0A2EF;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    margin: 20px;
}
   
}
@media only screen and (min-width: 1000px) {
        header{
    height: 100vh;
    width: 100%;
    background-image: url(ta3lemat1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    justify-content: center;
    align-items: center;
    user-select: none;
}
}

 .main-header1{
    text-align: center;
    transition: 0.5s;
}


.main-header1 button{    
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: #B0A2EF;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    margin: 20px;
}

.main-header1 button:hover{
    transform: scale(1.2);
}